@use './base/init';
@use './mixins/breakpoints' as *;

.container {
    @include sm {
        position: relative;
        width: 100%;
        max-width: 80rem;
        margin-inline: auto;
        padding: 0 24px;
        padding-block: 10em;
    }
}