@use './base/init';
@use './mixins/breakpoints' as *;

.container {
    // @include xxl {
    position: relative;
    width: 100%;
    max-width: min(80%, 80rem);
    margin-inline: auto;
    padding: 10em 1.5em;
    @include xl {
        padding: 5em 1.5em;
    }
    // }
}