.counter-section {
    padding: 10em 0;

    &-container {
        position: relative;
        background-color: oklch(43.8% 0.218 303.724);
        color: oklch(94.6% 0.033 307.174);
    }

    .counter-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        // flex-direction: row;
        gap: 5em;
        list-style: none;
        padding: 0;

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex: 1 0 215px;
            gap: 10px;
            padding: 10px;
        }
        .count {
            font-size: 4em;
        }
        .item-description {
            // font-size: 1.5em;
            font-size: clamp(1em, 1.5vw, 1.25em);
            
        }
    }
}