@use '../mixins/breakpoints' as *;

.hero-section {
    display: flex;
    align-items: center;
    gap: 25px;
    z-index: 1;
    /*
    @include xl {
        flex-direction: column;
        align-items: center;
        gap: 5em;
    }
    */

    .hero-details {
        position: relative;
        // width: 55%;
        text-align: center;
        z-index: 1;
        /*
        @include xl {
            width: 100%;
        }
*/

        .bg-clip {
            // background-image: linear-gradient(45deg, #800080, #DDA0DD);
            background: linear-gradient(45deg, #DDA0DD, #800080, #DDA0DD);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            background-size: 200% 100%;
            animation: text-shimmer 5s linear infinite;
            font-family: var(--v-font-heading);
        }
        .hero-text {
            position: relative;
            // width: 85%;
            margin-block: 2em;
            font-size: 1.5em;
            font-size: clamp(1em, 5vw, 1.5em);
            line-height: clamp(28px, 4vw, 34px);
            text-wrap: balance;
            color: var(--v-colour-grey-dark);
            /* @include xl {
                width: 100%;
            } */
        }
        .hero-actions {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2em;
            // width: 85%;
            /*
            @include xl {
                width: 100%;
            }
            */

            > * {
                // flex: 1;
                // font-size: 22px;
                font-size: clamp(15px, 5vw, 22px);
                text-transform: uppercase;
            }
        }
    }


    .hero-img {
        position: absolute;
        top: 12em;
        right: 2em;
        // width: 65%;
        // width: 100%;
        // right: -10em;
        // bottom: 1.5em;

        &-container {
            width: 45%;
            height: 590px;
        }
        /*
        @include xl {
            position: relative;
            right: 0;
            bottom: 0;
        }
*/
    }

    &-container {
        position: relative;
        background-image: url(/img/pattern.svg);
        background-color: #ffffff;
        background-attachment: fixed;
        background-size: cover;
        /*
        &::before {
            content: '';
            position: absolute;
            top: 5%;
            right: 20%;
            width: 500px;
            height: 500px;
            background: radial-gradient(250px circle at 65% 30%, #24edff 50%, transparent 75%),
                        radial-gradient(250px circle at 58% 48%, #00B3FF 50%, transparent 75%);
            filter: blur(45px);
            animation: spin 8s linear infinite;
            transform: rotate(0);
            opacity: .75;
        }
        */
        // padding-bottom: 10em;

        /*
        @include xl {
            padding-bottom: 0;
        }
        */
    }
}