.process-section-feature-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 3.5em;

    .stepper {
        width: 50%;
    }
    .process-img-container {
        position: absolute;
        width: 55%;
        top: 7em;
        left: -5em;

        > img {
            width: 100%;
            transform: scaleX(-1);
        }
    } 
}