@use '../mixins/breakpoints' as *;

.call-now {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 32px;
    border-radius: 0;
    // background-image: radial-gradient(circle, #8B3FBA, #8B3FBA);
    background-color: #8B3FBA;
    z-index: 1;

    @include lg {
        display: inline-flex;
    }
}