@use '../mixins/breakpoints' as *;

.footer-section-container {
    background-color: hsl(246, 61%, 40%);
    color: hsl(268.58, 100%, 95.47%);

    .footer-section {
        display: flex;
        flex-direction: column;
        gap: 3em;

        .footer-features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 5em;

            > * {
                display: flex;
                flex-direction: column;
                gap: 20px;
                flex: 1;
            }

            .footer-header {
                margin-bottom: 10px;
                letter-spacing: .75px;
            }
        }

        a {
            color: hsl(268.58, 100%, 95.47%);
            text-decoration: none;
            text-underline-offset: 3px;

            &:hover {
                text-decoration: underline;
            }
        }

        .footer-velox {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 3em;
            line-height: 28px;

            @include md {
                grid-template-columns: auto;
            }

            .velox-logo-container {
                width: 300px;
                align-self: center;
                @include md {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
            .velox-footer-about {
                align-self: center;
            }
        }
        
        .footer-about-velox {
            address {
                font-style: normal;
                line-height: 26px;
            }
            
        }

        .footer-services {
            ol {
                column-count: 2;
                column-fill: balance;
                list-style: none;
                padding: 0;

                > li {
                    padding: 0 10px 15px 0;
                }
            }
        }

        .social-icon-container {
            position: relative;
            left: -10px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 25px;

            
            .social-icon {
                display: inline-flex;
                align-items: center;
                font-size: 28px;
                padding: 10px;
                cursor: pointer;
            }
        }

        .footer-copyright {
            border-top: 1px solid;
            padding-block: 2.75em;
        }
    }
}