@use '../mixins/breakpoints' as *;

header.header {
    position: sticky;
    top: 0;
    color: hsla(246, 61%, 40%);
    // background-color: oklch(39.8% 0.195 277.366);
    // background-color: hsl(246deg 61% 90% / 50%);
    background-color: rgb(251 251 253 / 50%);
    backdrop-filter: blur(15px);
    box-shadow: 0 1px 12px -3px hsla(246, 61%, 85%);
    z-index: 100;
    
    nav {
        // position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // max-width: 80rem;
        max-width: min(90%, 80rem);
        margin-inline: auto;
        padding: 15px 24px;

        .header-logo-container {
            width: 250px;
            @include lg {
                width: 185px;
            }

            > img {
                width: 100%;
                height: auto;
            }
        }

        ul.nav-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            list-style: none;
            padding: 0;

            > li {
                border-radius: 10px;
                font-size: 1em;
                letter-spacing: .25px;
                padding: 10px 15px;
                cursor: pointer;
                // text-transform: uppercase;
                font-weight: 600;
                transition-property: background-color, color;
                transition-duration: 350ms;
                transition-timing-function: ease;

                &:hover {
                    background-color: hsla(246, 61%, 40%);
                    color: hsl(268.58, 100%, 95.47%);
                }
            }

            &.responsive-menu {
                display: flex !important;
                position: absolute;
                left: 0;
                bottom: -12em;
                flex-direction: column;
                background: white;
                width: 100%;
                padding: 1em 2em;
                border: 1px solid;
                align-items: flex-start;

                > li {
                    width: 100%;
                }
            }
        }
        .mobile-navigation {
            display: none;
        }
        
    }
    @include lg {
        .header-navigation {
            display: none !important;
        }
        nav .mobile-navigation {
            display: inline-flex;
        }
    }
}