.pills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 12px 10px;

    > .pill {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 7.5px;
        background-color: rgb(237 242 247 / 1);
        font-size: 14px;
        font-weight: 500;
        padding: 6px 12px;
        border-radius: 50px;

        &.emergency {
            background-color: var(--v-colour-red-400);
            color: var(--v-colour-red-100);
        }
        &.damp {
            background-color: var(--v-colour-blue-900);
            color: var(--v-colour-blue-100);
        }
        &.leak {
            background-color: var(--v-colour-sky-400);
            color: var(--v-colour-sky-100);
        }
        &.repair {
            background-color: var(--v-colour-yellow-200);
        }
        &.blockage {
            background-color: var(--v-colour-yellow-300);
        }
        &.overflow {
            background-color: var(--v-colour-blue-400);
            color: var(--v-colour-blue-100);
        }
        &.cleaning {
            background-color: var(--v-colour-green-400);
            color: var(--v-colour-green-800);
        }
        &.manhole {
            background-color: var(--v-colour-slate-400);
            color: var(--v-colour-slate-100);
        }
        &.pipes {
            // Slate 100 / 500
            background-color: #62748e;
            color: #f9f3f4;
        }
        &.gully {
            // Orange
            background-color: #ff6900;
            color: #fff7ed;
        }
    }
}