@font-face {
    font-family: Lexend;
    src: url('~/assets/fonts/Lexend/Lexend-VariableFont_wght.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Fredoka;
    src: url('~/assets/fonts/Fredoka/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}